In [61]:
import numpy as np
import pandas as pd
import IPy

import time

ModuleNotFoundError: No module named 'Math'

In [3]:
ipv6_all = pd.read_csv("C:/Users/webDrag0n/Downloads/ipv6_all.csv")

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (6,11,15,16,17,18,19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ipv6_all.head()

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider,postal_code,latitude,longitude,accuracy_radius,...,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
0,2a7:1c44:39f3:1b::/64,2657896,NaN,NaN,0,0,8052,47.3664,8.5546,100.0,...,CH,瑞士,ZH,0,0,0,0,0.0,America/Los_Angeles,0.0
1,2000:db8::/32,5332921,NaN,NaN,0,0,93614,37.2502,-119.7513,100.0,...,US,美国,CA,加利福尼亚州,0,0,东京,0.0,Asia/Tokyo,0.0
2,2001:200::/38,1850147,1861060.0,NaN,0,0,102-0082,35.6882,139.7532,50.0,...,JP,日本,13,0,0,0,0,0.0,Asia/Tokyo,0.0
3,2001:200:400::/38,1861060,1861060.0,NaN,0,0,NaN,36.0000,138.0000,100.0,...,JP,日本,0,0,0,0,0,0.0,Asia/Tokyo,0.0
4,2001:200:800::/37,1861060,1861060.0,NaN,0,0,NaN,36.0000,138.0000,100.0,...,JP,日本,0,0,0,0,0,0.0,Asia/Tokyo,0.0

In [5]:
network = ipv6_all["network"]

In [7]:
network[1]

'2000:db8::/32'

In [12]:
total_length = len(network)
print(total_length)

606150

### 二分查找

In [112]:
#target_ip = "2aaa:0600:1000:1234:5678:abcd:0123:4321"
target_ip = "2a0b:3143:2000::"

In [113]:
start = time.perf_counter()

total_length = len(network)
i_0 = 0
i_1 = total_length / 2 - 1

while True:
    #print(str(i_0) + " | " + str(i_1))
    if IPy.IP(target_ip) > IPy.IP(network[i_0]) and IPy.IP(target_ip) < IPy.IP(network[i_1]):
        i_1 = int(i_0 + (i_1 - i_0) / 2)
    elif IPy.IP(target_ip) > IPy.IP(network[i_1]):
        temp = i_1 - i_0
        i_0 = i_1
        i_1 += np.ceil(temp / 2)
        
        if i_1 >= total_length:
            i_1 = total_length - 1
    if (i_0 == i_1):
        if IPy.IP(target_ip) in IPy.IP(network[i_0]):
            print("found")
        else:
            print("not found")
        break
print(i_0)

end = time.perf_counter()
print("total time: ", end - start)

found
594831
total time:  0.01757419999967169

In [114]:
network[i_0]

'2a0b:3143:2000::/35'